/* Gutter */
$gutterS: 20px;
$gutterM: 50px;
$gutterL: 75px;
$gutterXL: 120px;

/* Colors */
$blackmarlin:#3a3947;
$blue:#7298c8;
$moonmist:#DCDFCB;
$lilac:#9858b5;
$aquamarine:#63cbb1;
$carminepink:#e04e43;
$white:#fff;
$grey:#D3D3D3;
$lightblue:#32ade1;